<!-- Template inheritance -->

{% extends "home/base.html" %}

{% block content %}
  <link rel="stylesheet" href="../../static/css/index.css">

  <h1>All posts</h1>

  <div class="postsWrapper">
    <!-- Where all the posts would go -->
    <div class="postsArea">

      <div class="post">
        <h3>Title</h3>
        <h5><em>Author</em></h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, ex? Distinctio quaerat dolorum, necessitatibus voluptas et provident iusto, expedita asperiores quis praesentium aperiam ex nam voluptatum labore assumenda aliquid nemo?</p>
      </div>

      <div class="post">
        <h3>Title</h3>
        <h5><em>Author</em></h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, ex? Distinctio quaerat dolorum, necessitatibus voluptas et provident iusto, expedita asperiores quis praesentium aperiam ex nam voluptatum labore assumenda aliquid nemo?</p>
      </div>

      <!-- {% for post in posts %}
      <div class="post">
        <h3>{{ post.title }}</h3>
        <h5><em>{{ post.author }}</em></h5>
        <p>{{ post.content }}</p>
      </div>
      {% endfor %} -->

    </div>

    <div class="sidebar">
      <h5>Side bar</h5>
    </div>
  </div>
{% endblock content %}