{% extends "home/base.html" %}

{% block content %}
  <link rel="stylesheet" href="../../static/css/login.css">
  <h1>Login</h1>

  <div class="loginForm">
    <form method="POST" action="/login">
      <fieldset>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="email" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Password">
        </div>
        </fieldset>
        <div class="login-btn-group">
          <button type="submit" class="btn btn-primary">Submit</button>
          <button type="reset" class="btn btn-secondary">Reset</button>
          <button type="button" class="btn btn-secondary">Sign-up</button>
        </div>
      </fieldset>
    </form>
  </div>

{% endblock content %}