{% extends "home/base.html" %}

{% block content %}
  <link rel="stylesheet" href="../../static/css/register.css">
  <h1>Register</h1>

  <div class="registerForm">
    <form method="POST" action="/register">
      {% csrf_token %}
      <fieldset>
        <div class="form-group">
          <label for="exampleInputPassword1">Username</label>
          <input type="text" class="form-control" id="username" name="username" placeholder="Username" required>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter email" required>
        </div>
        </fieldset>
        <div class="register-btn-group">
          <button type="submit" class="btn btn-primary">Sign-up</button>
          <button type="reset" class="btn btn-secondary">Reset</button>
        </div>
      </fieldset>
    </form>
  </div>

{% endblock content %}